<h1> Goodbye </h1>
<h2> A program to bid our friends farewell all over the world. </h2>

<ul>
  <li> English: Goodbye, friends! </li>
  <li> Spanish:  Adios, amigos! </li>
  <li> Chinese: Zaijian! </li>
</ul>
